<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    syntaxCheck="false"
    bootstrap="./Tests/Unit/autoload.php"
>
    <testsuites>
        <testsuite name="IDCIPaymentBundle unit test suite">
            <directory suffix="Test.php">./Tests/Unit</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>IDCIPaymentBundle.php</directory>
                <directory>./Command</directory>
                <directory>./Controller/Test</directory>
                <directory>./DependencyInjection</directory>
                <directory>./Form</directory>
                <directory>./Resources</directory>
                <directory>./Step</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
